---
layout: default
title: Cookbook
---
<h1>Chapter Index</h1>
<h2>Working with Strings</h2>
{% for page in site.pages %}
<ul>
  {% if page.url contains '/chapters/strings/' %}
    <li><a href="{{ page.url | replace:'.html','' }}">{{ page.title }}</a></li>
  {% endif %}
</ul>
{% endfor %}
<h2>Working with Arrays</h2>
{% for page in site.pages %}
<ul>
  {% if page.url contains '/chapters/arrays/' %}
    <li><a href="{{ page.url | replace:'.html','' }}">{{ page.title }}</a></li>
  {% endif %}
</ul>
{% endfor %}
