<!doctype html>
<html>
  <head>
    <title>CoffeeScript Cookbook &raquo; {{ page.title }}</title>
    <link rel="stylesheet" href="/css/default.css" type="text/css">
  </head>
  <body>
  <div class="header">
    <h1><a href="/">CoffeeScript Cookbook</a></h1>
    <a href="/chapters">Chapter Index</a> |
    <a href="/contributing">Contributing</a> |
    <a href="/authors">Authors</a> |
    <a href="/license">License</a>
  </div>
{{ content }}
  <hr />
  <a href="/license"><img border="0" src="/images/cc_by_badge.png"></a>
  </body>
</html>

