<!doctype html>
<html>
  <head>
    <title>CoffeeScript Cookbook &raquo; {{ page.title }}</title>
    <link rel="stylesheet" href="/css/default.css" type="text/css">
  </head>
  <body>
   <header>
      <h1>
        <a href="/">CoffeeScript Cookbook</a> &raquo;
        <a href="/chapters/{{ page.chapter | replace: ' ', '_' | downcase }}">{{ page.chapter }}</a> &raquo;
        {{ page.title }}
      </h1>
      <a href="/chapters">Chapter Index</a> |
      <a href="/contributing">Contributing</a> |
      <a href="/authors">Authors</a> |
      <a href="/license">License</a>
    </header>
    <section class="recipe_card">
      <h1 class="title">{{ page.title }}</h1>
      <section class="recipe">
        {{ content }}
      </section>
    </section>
    <footer>
      <p>Is this recipe wrong, incomplete, or non idiomatic? Help fix it by reading the <a href="/contributing">Contributor's Guide</a>!</p>
      <a href="/license"><img src="/images/cc_by_badge.png" /></a>
    </footer>
 </body>
</html>

